<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.matthieuhostache.loustics" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.matthieuhostache.loustics.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.matthieuhostache.loustics.AddChildActivity"
            android:label="@string/title_activity_add_child" >
        </activity>
        <activity
            android:name="io.matthieuhostache.loustics.MySpaceActivity"
            android:label="@string/title_activity_my_space" >
        </activity>
        <activity
            android:name="io.matthieuhostache.loustics.matieres.MatieresActivity"
            android:label="@string/title_activity_matieres" >
        </activity>
        <activity
            android:name="io.matthieuhostache.loustics.games.GamesActivity"
            android:label="@string/title_activity_games" >
        </activity>
        <activity
            android:name="io.matthieuhostache.loustics.matieres.CalculActivity"
            android:label="@string/title_activity_calcul" >
        </activity>
        <activity
            android:name=".games.labyrinthe.LabyrintheActivity"
            android:label="@string/title_activity_labyrinthe" >
        </activity>
        <activity
            android:name=".games.labyrinthe.LabyrintheGame"
            android:label="@string/title_activity_labyrinthe_game" >
        </activity>
    </application>

</manifest>
